{% extends 'base.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}
    <div class="container">
    <h1>Villes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom de ville</th>
                <th>frais d'expédition</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.shippingCost }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_city_show', {'id': city.id}) }}">show</a>
                    <a class="btn btn-primary" href="{{ path('app_city_edit', {'id': city.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_city_new') }}">Create new</a>
    </div>
{% endblock %}
